.body { 
    font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
    letter-spacing: 0.03em;
    color: #212121;
}

a{
text-decoration: none;
}

.logo {
    font-family:"Raleway", sans-serif;
    font-weight: 700;
    font-size:  26px;
    line-height: 31px;
    text-align: right;
    color: #2196f3;
}


ul {
    list-style: none;
}

.menu {
    letter-spacing: 0.02em;
    cursor: pointer;
    color: #212121;
    font-weight: 500;
    line-height: 16px;
}

.studio:hover,
.portfolio:hover,
.contacts:hover,
.email:hover,
.phone:hover {
    color: #2196f3;
}
 
.email,
.phone {
    font-style: normal;
    font-weight: 500;
    color: #757575;
    cursor: pointer;
    line-height: 16px;
    letter-spacing: 0.02em;
}

#active {
    color: #2196f3;
}

.hero-bg-hero, footer {
    background-color: #2f303a;
}

.hero-title {
    color: #ffffff;
    font-size: 44px;
    letter-spacing: 0,06em;
    font-weight: 900;
    line-height: 60px;
    text-transform: uppercase;
}

.button-primary {
    font-size: 16px;
    background-color: #188ce8;
    text-transform: capitalize;
    font-weight: 700;
    line-height: 30px;
    letter-spacing: 0,06em;
    color: #ffffff;
    align-items: center;
    text-align: center;
}

.button-primary:hover {
    color: aqua;
}

.title-benefits {
    font-weight: 700;
    line-height: 16px;
    text-transform: uppercase;
    color: #212121;
}

.description {
    font-weight: 400;
    line-height: 24px;
    color: #757575;
}

.section-what {
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    text-align: center;
    color: #212121;
}

.our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #212121;
}

.who-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #212121;
}

.area {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #757575;
}

.footer-logo {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    color: #2196f3;
}

.footer-direction {
    font-weight: 400;
    line-height: 24px;
    color: #ffffff;
}

.footer-direction:hover {
    color: #2196f3;
}

.footer-email {
    font-weight: 400;
    line-height: 24px;
    color: #757575;
}

.footer-email:hover {
    color: #2196f3;
}

.footer-phone {
    font-weight: 400;
    line height: 24px;
    color: #757575;
}

.footer-phone:hover {
    color: #2196f3;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    cursor: pointer;
}

.button:hover, 
.button:focus {
    color: #ffffff;
    background-color: #2196f3;
}

.portfolio-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #212121;
}

.portfolio-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    color: #757575;
}