

*{  
    margin: 0;
    padding: 0;
    margin-block-end: 0;
    margin-block-start: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 0;
    font-size: 24;
    line-height: 3;
    letter-spacing: normal;
    color: #212121;
}

ul {
    list-style: none;
}

.link {

}

.body {
    font-weight: 100;
    font-size: ;
font-family: 'Roboto', Verdana, Geneva, Tahoma, sans-serif;
color: #212121;
}